html, body{
	padding: 0;
	margin: 0;
}



img{
	max-width: 100%;
	display: inline-block;

}



.image1{
    background: url('img/print_img.jpg');
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height: 550px;	
	
}

.image2{
    background: url('img/portfolio_img.jpg');
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height: 550px;
}

.image3{
	background: url('img/frames_img3.jpg');
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height: 550px;
} 


.image4{
	background: url('img/workspace_img.jpg');
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	height: 550px;
}



nav{
	overflow: hidden;
	margin-top: 2%;
	text-align: right;
	margin-right: 2% !important;
} 
   
ul{
	margin-top: 3%;
}


ul li{
	display: inline-block;
	margin-left: 2%;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "franklin-gothic-urw";
	letter-spacing: 1px;
}

h1 {
	
	font-size: 42px;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 2%; 
	display: inline-block;
	margin-left: 20px;
	
}

h2{
	position: absolute;
	z-index: 1;
	font-size: 22px;
	width: 60%;
	margin: 15% 20% 0%;
	font-family: "franklin-gothic-urw";
	font-weight: 300;
	line-height: 1.3;
	color:white;
	text-align: center;

	}

h3{
	text-align: center;
    padding: 5% 0%;
    background-color: #f4f3ef;
	font-size: 22px;
	font-family: "franklin-gothic-urw";
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*.single-item{
	position: relative;
	top: -120px;
} */
 
.main-box{
	background-color: #f4f3ef;
}


.box1, .box2, .box3{
	width: 22%;
	text-align: center;
	float:left;
	margin-left: 8%;
	margin-bottom: 5%;

}

.icon1{
	display: inline-block;
}

a{
	line-height: 1.5;
	font-family: "franklin-gothic-urw";
	font-size: 14px;
}


.title-box{
	margin: 3% 0%;
   font-family: "franklin-gothic-urw";
	text-transform: uppercase;
	letter-spacing: 1px;
}

.portrait{
	float:left;
}

.aboutme-blurb{
	float: left;
	width: 30%;
}

.title{
	text-align: center;
	font-size: 22px;
	padding-top: 7%;
	padding-bottom: 5%;
	font-family: "franklin-gothic-urw";
	text-transform: uppercase;
	 background-color: #f4f3ef;
}

.about{
	background-color: white;
}

.message{
	margin-left: 0px;
	margin-bottom: 5%;
	font-size: 18px;
	line-height: 1.3;
	font-family: "franklin-gothic-urw";
	color: black;
	text-align: center;
}

.form-group {
margin-top: 10px;
text-align: right;
}


.form-control {
display: block;
width: 94%;
height: 34px;
padding: 6px 12px;
font-size: 16px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: none;
border-radius: 4px;
font-family: "franklin-gothic-urw";
letter-spacing: 1px;
margin-left: 21%;
}


.location-icon, .email-icon, .phone-icon {
text-align: left;
padding: 5px;
overflow: hidden;
}

span.location-blurb {
font-family: "franklin-gothic-urw";
font-size: 18px;
color: black;
display: inline-block;
margin-left: 25px;
margin-top: 26px;
position: absolute;
}


span.email-blurb {
display: inline-block;
font-family: "franklin-gothic-urw";
font-size: 18px;
color: black;
margin-left: 25px;
margin-top: 30px;
position: absolute;
}


span.number-blurb {
display: inline-block;
font-family: "franklin-gothic-urw";
font-size: 18px;
color: black;
margin-left: 25px;
margin-top: 34px;
position: absolute;
}


.email-icon, .phone-icon {
margin-top: 11%;
}

.color{
	 background-color: #f4f3ef; 
}
